QLabel {
    color: yellow;
    font-size: 22px;
    font-family: 宋体;
    font-weight: bold;
}

QLabel#show_pic {
    border: 3px solid midnightblue;
    /*border-radius: 100px;*/
}

QPushButton {
    background: yellow;
    font-weight: bold;
    font-size: 25px;
    font-family: 宋体;
}

QPushButton#cnn_but:hover,
QPushButton#fcn_but:hover,
QPushButton#gan_but:hover {
    color: red;
}

QPushButton#cnn_but:pressed,
QPushButton#fcn_but:pressed,
QPushButton#gan_but:pressed {
    color: gray;
}

QPushButton#cnn_but:focus,
QPushButton#fcn_but:focus,
QPushButton#gan_but:focus {
    color: purple;

}

QLineEdit, QTextEdit {
    background-color: gray;
    font-size: 20px;
    font-family: 宋体;
    font-weight: bold;
}

QTextEdit {
    background-color: black;
    border: 3px solid midnightblue;
}
